name: Update Containers
"on":
    workflow_dispatch: {}
    workflow_run:
        workflows:
            - Update Workflow
        types:
            - completed
concurrency: dockerfiles
permissions:
    contents: write
jobs:
    alpine:
        name: Build alpine
        needs:
            - setup-cache
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: alpine
    base:
        name: Build base
        needs:
            - setup-cache
            - baseroot
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: base
    baseroot:
        name: Build baseroot
        needs:
            - setup-cache
            - alpine
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: baseroot
    centauri:
        name: Build centauri
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: centauri
    dockercleanup:
        name: Build dockercleanup
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: dockercleanup
    dotege:
        name: Build dotege
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: dotege
    dsp:
        name: Build dsp
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: dsp
    gamja:
        name: Build gamja
        needs:
            - setup-cache
            - alpine
            - base
            - node
            - sws
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: gamja
    githubmirror:
        name: Build githubmirror
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: githubmirror
    golang:
        name: Build golang
        needs:
            - setup-cache
            - alpine
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: golang
    golink:
        name: Build golink
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: golink
    goplum:
        name: Build goplum
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: goplum
    httpredirect:
        name: Build httpredirect
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: httpredirect
    identd:
        name: Build identd
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: identd
    irc-bot:
        name: Build irc-bot
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: irc-bot
    irc-distribution:
        name: Build irc-distribution
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: irc-distribution
    irc-github:
        name: Build irc-github
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: irc-github
    irc-goplum:
        name: Build irc-goplum
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: irc-goplum
    irc-notifier:
        name: Build irc-notifier
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: irc-notifier
    irc-webhook:
        name: Build irc-webhook
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: irc-webhook
    legoergo:
        name: Build legoergo
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: legoergo
    linx-server:
        name: Build linx-server
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: linx-server
    miniflux:
        name: Build miniflux
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: miniflux
    node:
        name: Build node
        needs:
            - setup-cache
            - alpine
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: node
    postgres-15:
        name: Build postgres-15
        needs:
            - setup-cache
            - alpine
            - base
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: postgres-15
    puzzles:
        name: Build puzzles
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: puzzles
    redis:
        name: Build redis
        needs:
            - setup-cache
            - alpine
            - base
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: redis
    registryauth:
        name: Build registryauth
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: registryauth
    rust:
        name: Build rust
        needs:
            - setup-cache
            - alpine
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: rust
    setup-cache:
        name: Setup cache
        runs-on: ubuntu-latest
        steps:
            - name: Install latest dfo
              uses: mattdowdell/go-installer@v0.3.0
              with:
                package: github.com/greboid/dfo
    soju:
        name: Build soju
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: soju
    sws:
        name: Build sws
        needs:
            - setup-cache
            - base
            - rust
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: sws
    texlive:
        name: Build texlive
        needs:
            - setup-cache
            - alpine
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: texlive
    thelounge:
        name: Build thelounge
        needs:
            - setup-cache
            - base
            - node
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: thelounge
    tsp:
        name: Build tsp
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: tsp
    vaultwarden:
        name: Build vaultwarden
        needs:
            - setup-cache
            - base
            - rust
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: vaultwarden
    watchtower:
        name: Build watchtower
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: watchtower
    webhooked:
        name: Build webhooked
        needs:
            - setup-cache
            - base
            - golang
        uses: ./.github/workflows/container-builder.yml
        secrets: inherit
        with:
            PROJECT_NAME: webhooked
